/*
   USER Login_Base CSS
*/

.user_base_content {
    width:97%;
    margin-left: 1.5em ;
    padding:1em;  
    line-height:1.5em;
}

#user_base_logo img {
    display: inline;
    margin-left: 1.5em ;

}

.traditional-list { margin-left: 2em; padding:0.2em;}
    ol.traditional-list { list-style-type:upper-roman; }
    ul.traditional-list { list-style-type:circle; }
    li.traditional-list.true { list-style-image : url("/media/img/admin/icon-yes.gif"); }
    li.traditional-list.false { list-style-image : url("/media/img/admin/icon-no.gif"); }
    .done { text-decoration : line-through; }






.user_base_form_table {
        width:95%;
        border:2px solid #FFF5EE;
      background: linear-gradient(to right, #FFFFF9 , #fff); /* Standard syntax */
}

   
    td {
        color:blue; 
        line-height: 2.0em; 
        font-size: 18px;
        border:1px solid #FFF5EE;
    background: linear-gradient(to right, #FFFFF9 , #fff); /* Standard syntax */
}
    
    h1 { color:gray; 
        line-height: 2.5em; 
        font-size: 20px; 
        text-align:center;
       }
    
    h2 { color:blue; 
        line-height: 1.5em; 
        font-size: 16px; 
        text-align:left;
       }

.box { 
        color:gray; 
        line-height: 1.5em; 
        font-size: 20px; 
        text-align:center;
        border: 1px solid #B0C4DE; 
        background: linear-gradient(to left, #FFFFF9 , #FFF); /* Standard syntax */ 
        padding:2.5em 2em 2em 2em;
        margin-top:1em;
}



.user_base_table { 
    border:2px solid #708090;
    width:93%;
}

.user_base_table th { 
    border:2px solid #FFF5EE;
    text-align:center;
    color:blue;
    font-size: 18px; 

}

.user_base_table td { 
    border:4px solid #FFF5EE;
    color:black ;
    font-size: 16px ; 
    text-align:center;
    line-height: 1.5em;
}


