{% extends "base.html" %}
{% load url from future %}
{% load gas_base %}

{% block extraheads %}
<link href="/static/css/user_base.css" type="text/css" rel="stylesheet" />


{% endblock %}
{% block content %}
{% if messages %}
<ul class="messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<!--was <h1> Gasista Felice - HappyGAS :)</h1> -->


<table id="user_base_form_table">
    <tr><td>

        <div class="user_base_content">
        {% if form.errors %}
        {{ form.non_field_errors }}
        <p>Tieni presente che potresti non accedere perché ancora non hai alcun ruolo nel DES.<br />
        Fatti assegnare un ruolo dal referente informatico di un GAS con cui sei in contatto.
        A presto allora!</p>
        {% endif %}
        
        <form method="post" action="{% url 'des.views.login' %}">
        {% csrf_token %}
        <table class="user_base_form_table">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <fieldset style="text-align:center; border:0px">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        </form>
        </div>
    </td><td>
        <div class="box">
            
                <span>Se non hai accesso</span>
                <h1><a href="{% url 'des.views.registration' %}">Registrati ora</a></h1>
            
        </div>
    </td></tr>
</table>

<div>
<h1>Installazione a disposizione di:</h1>

<table class ="user_base_table">
    <thead>
     <tr>
        <th>GAS</th>
        <th>Città</th>
        <th>Numero di ordini</th>
        <th>Flusso economico solidale</th>
     </tr>
    </thead>
    <tbody>
{% for g in gas_list %}
    {% render_gas_as_tr g %}
          </tr> 
        {% endfor %}
    </tbody>
</table>


<h1>e di tutti i G.A.S. che vorranno iscriversi al DES {{ des }}</h1>

<h2>Le novità principali della 0.10</h2>
</div>
<div class="user_base_content">
<ul>
<li>Ordini InterGAS 
</li><li>Velocizzazione del calcolo dei saldi economici
</li><li>Gestione appartenenza GAS &lt; - &gt; MultiGAS
</li><li>Migliorate le notifiche mail ai gasisti e ai referenti fornitore
</li><li>Chiusura ed invio automatico del report PDF al fornitore e referente
fornitore (se configurato nel GAS e nel patto)
</li><li>FIX nella creazione del report PDF
</li><li>Resa coerente la configurazione dei ruoli (anche se ancora da migliorare)
</li>
</ul>
</div>

  

{% endblock %}
