{% extends "base.html" %}
{% load url from future %}

{% block extraheads %}
<link href="/static/css/user_base.css" type="text/css" rel="stylesheet" />


{% endblock %}
{% block content %}

<h1>Benvenuto, ora puoi registrarti per gli ordini nel DES!</h1>




    <p>Puoi associare il tuo utente ad un GAS o ad un fornitore esistente.
    Se sei un fornitore, e non sei ancora stato inserito 
    come fornitore nel DES, chiedi al tuo contatto nel GAS. 
    Il GAS può inserirti come fornitore del DES.</p> 

    <p>I campi contrassegnati dal simbolo * (asterisco) sono obbligatori.</p>



{# Registration form #}
<div class="registration">
<form method="post" action="{% url 'des.views.registration' %}">
{% csrf_token %}

<table class="user_base_form_table">
 {{ registration_form.as_table }}   
</table>

<p><input type="submit" value="Invia la richiesta di registrazione" /> </p>
</form>
</div>


{% endblock %}

