{% load basic_tags %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="it" dir="ltr">
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ita" />
    <meta name="robots" content="NONE,NOARCHIVE" />

    <title>GASISTA FELICE Gestionale per gruppi di acquisto solidale (G.A.S.)</title>

    <link rel="stylesheet" type="text/css" href="/static/nui/style/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}nui/style/wholestyle.css" />


    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}nui/style/{{ THEME }}.css" title="{{ THEME }}" />
    <link rel="alternate stylesheet" type="text/css" href="{{ MEDIA_URL }}nui/style/nuvola.css" title="nuvola" />
    <link rel="alternate stylesheet" type="text/css" href="{{ MEDIA_URL }}nui/style/tango.css" title="tango" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}nui/style/final.css" />
    <link href="{{ MEDIA_URL }}nui/style/base.css" type="text/css" rel="stylesheet" />
    {% block extraheads %} {% endblock %}




</head>
<body >
<div id="user_base_logo">
        <img src="/static/img/logo_cliente.png" alt= "logo del gestionale sofware libero" /> </div>

<div class= "user_base_content">
{% block content %} {% endblock %}
</div>
{% block footer %}
<div id="footer">
       <img src="/static/img/GNU.png"  alt="logolicenza_GNU che guarda a destra" />
       <img src="/static/img/logo_cliente_small.png"  alt="Logo minore del gestionale" />
       <img src="/static/img/GNU01.png"  alt="logolicenza_GNU che guarda a sinistra" /> 

        
        <p>Version <span id="app_version" >{{ VERSION }}</span></p>
        <p>Gasista Felice è software libero ed ognuno è libero di ridistribuirlo, secondo le condizioni della &nbsp;<a href="http://http://www.gnu.org/licenses/agpl-3.0.html">Licenza GNU AGPL 3</a></p>
<p>Sconsigliamo e non Supportiamo IE &lt; = 7; Visualizzabile da IE &gt; = 9; Incoraggiamo l'uso di Browser Open Source ;-) </p>
        <p>{#  - Copyright &copy; 2011 - <a href="http://www.reesmarche.org">REES Marche</a> #}</p>
        <p style="padding-top:15px">
<a href="http://validator.w3.org/check?uri=referer" ><img src="/static/img/29.gif" alt="pulsante validatore XHTML" /></a>
<a href="http://www.gnu.org/licenses/agpl-3.0.html" ><img src="/static/img/licenze_logo.png" alt="Logo GNU Affero General Public License 3.0" /></a>
<a href="http://jigsaw.w3.org/css-validator/check?uri=referer" ><img src="/static/img/28.gif" alt="pulsante validatore CSS" /></a>
</p></div>
{% endblock %}   
<!--was <div style="text-align: center; font-style: italic; font-size: 10px; margin-bottom: 20px;">Gasista Felice - v{% des_version %} </div> -->
</body>
</html>


