/*|******************************************** WHLOLESTYLE CSS *****************************************|*/
/*| ==================================================================================================== |*/
/*| ******************************************* COMMON GUI ELEMENTS ************************************ |*/
/*| ==================================================================================================== |*/

#main_content {

         margin-top : 1em; 
         width:98%;
}

#body {

	min-height:800px;
	overflow : hidden;
	/*border-left: 1px solid #aaa;*/
}


#header {
	height:auto;
	border-bottom: 1px solid #aaaaaa;
	margin: 0 auto 0 auto;
        background: #FFF; 
        /*Was background: #FFF; url('/static/logo_labs.jpg') left top no-repeat;
	      background: #FFF; url('/static/logo_cliente.jpg') right top no-repeat;  */
}

#right_column_wrapper {
        max-width:25%;
        float:right;
	font-size: 90%;
}

#footer {
	width:95%;
        color: #000;
	padding : 15px 15px 15px 15px;
	margin-top : 4px;
	
	margin-left : 8px;
	margin-bottom:10px;
        background-color:#fff;
	font-size: 90%;
	text-align: center;
	clear : both;
	/*Was  position:fixed; */
	/*Was  bottom:1px;*/
	
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.2),
        inset 0px 0px 0px 1px rgba(0,0,0,0.2);

}


/*************** Sezioni contenute in header content configurazione generale*************************
=============================================================================================
..................................................................................... *******/



#header-content {
	width:96%;
	padding : 15px 15px 15px 15px;
	margin-top : 8px;
	
	margin-left : 8px;

        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.2),
        inset 0px 0px 0px 1px rgba(0,0,0,0.2);
        
        
}

#header a:link, #header a:visited { 
	color: #00F; 
	text-decoration:none; 
        padding:12px;
        font-size : 14px;
}



/*
.header-actions {
	float:right;
}
*/




#app_clock { 
    width:100%;
    margin-top : 0.1em;
    float:left;
    
}



/* Scritta di welcome in Gasista Felice prima della a app clock 
................................................................*/

.logo {

   display:inline;
}


.logo img {

/* Logo befair: Software Open Source in alto a destra  */
   width:625px;
   height:51px;     
   float:right;
}



.logo_testuale {
  font-size:18pt;
  font-weight: bold; 
  color: #FFF;	
  text-shadow:
	
	        /* ombre "solide" per creare l'effetto 3D */
	        0 1px 0 #78AF00,
	        0 2px 0 #8ABF17,
	        0 3px 0 #9ECF33,
	        0 4px 0 #B3DF53,
	        0 5px 0 #C9EF77,
	        0 6px 0 #D7EFA4,
	
	        /* ombre "vere" per creare l'effetto ombra vero e proprio */
	        0 6px 1px rgba(0,0,0,.1),
	        0 0 5px rgba(0,0,0,.1),
	        0 1px 3px rgba(0,0,0,.3),
	        0 3px 5px rgba(0,0,0,.2),
	        0 5px 10px rgba(0,0,0,.25),
	        0 10px 10px rgba(0,0,0,.2),
	        0 20px 20px rgba(0,0,0,.15);
	}

/******* barre Menu Risorse {Ordinare,Gas,Patti ecc...} ed icone validatori {html5 e css3 }
................................................................................... *******/


.barre_menu { 
     padding : 1px;
     margin-top : 10px; 
     display:inline;
}

#user_placeholder { 
float:right;
}

#user_data{
	display: inline;
}
#user_data a.top{
	padding:3px 3px ;

}

#user_data_content{
	padding: 3px;
	text-align: right;
	display:list-item;
	list-style:none;
	list-style-position:inside;

}

/*******Inizio sezione barra Menu Risorse {Ordinare,Gas,Patti ecc...} *******/

.menu_section {
 display : inline-block; 
/*Was table-cell sostituito con inline-block più supportato  */

    font-size:11pt;
    padding : 10px 0.5em 18px 5px;
    text-align:center;
    border : 1px solid #fff; 
    border-radius: 15px 15px 2px 2px;
    box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.5),
    inset -15px -5px 10px -2px rgba(0,0,0,0.2);
    margin-top:2px;
    width: 80px;
  
}


.menu_section ul {
background-color: transparent;
display : none;
}

.menu_section li {
    margin: 0px;
    padding:  5px 10px 5px 10px;
    list-style-type: none;
    background-color: #AFD909;
    border : 1px solid gray;
    text-align:left;
    border-radius: 5px;
    max-width:300px;
    box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.5),
    inset -15px -5px 10px -2px rgba(0,0,0,0.2);

}

.menu_section ul li {float: none; }
.menu_section:hover ul {
    display: block; 
    position: absolute;
    font-size: 8pt; 
    /*padding-top: 5px;*/
    /*color:red;*/ 
    z-index:99; 
    }

.menu_section li:hover {background-color: #DCEECD;}

.submenu { 
    max-height : 500px;
    overflow : auto;
}


/* Bottoni del menu section ..*/

/* bottone "Aiuto" (video e forum) 
...................................*/
#help_menu , #help_menu li {
background-color: orange;
}

#help_menu li:hover {background-color: #FFF;}


/* bottone "Ordinare" 
.......................*/
#user_urn_gasmember , #user_urn_gasmember li {
background-color: #9999FF;
}
#user_urn_gasmember li:hover {background-color: #00FFFF ;}

/* bottone "Gas" 
.......................*/
#user_urn_gas , #user_urn_gas li {
background-color: #87CEFA;
}
#user_urn_gas li:hover {background-color: #B0C4DE;}

/* bottone "Patti" 
.......................*/
#user_urn_pact , #user_urn_pact li {
background-color: #99ffff;
}
#user_urn_pact li:hover {background-color: #48D1CC;}

/* bottone "Fornitori" 
.......................*/
#user_urn_supplier , #user_urn_supplier li {
background-color: #7FFF00;
}
#user_urn_supplier li:hover {background-color: #9ACD32;}

/* bottone "Cronologia" 
...........................*/
#history_menu.menu_section,#history_menu , #history_menu li,#settings_menu p, #settings_menu li {
background-color: yellow;

}

#history_menu.menu_section {
width: 80px !important;
}


#history_menu li:hover, #settings_menu li:hover {
background-color: #FFFFE0;
}


/* bottone "Pagina utente" ed "Esci" */

#home_page  {
 background-color: #FE9;
}

#home_page a {
   color:black;
}

#user_logout  {
    vertical-align: top;
    margin-right:1px;
    width:60px;
    background: transparent;

}



#user_logout img { 
          height:55px;
          width:60px;
}


#validator_icons { 
float:left;
}

#validator_icons figure { 
display:inline;
width:88px;
height:31px;
margin:2px;
}



/*Barra di Pollicino
.......................*/


#navbar {
  
  width:99%;
  background-color: #FFF;
  border: 1px  #D3D3D3;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 14px 14px 4px 4px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2),
        inset 0px 0px 0px 1px rgba(0,0,0,0.2);
   
}


#navbar a:link, #navbar a:visited { 
	color: #00F; 
	text-decoration:none; 
        padding:12px;
        font-size : 14px;
}




/*************** Sezioni contenute in BODY Content configurazione generale **************************
=====================================================================================================
............................................................................................ *******/





#body_content {
        width:95%;
        border-top: 1px solid #aaa;
	color: #000;
	background-color : #fff;
	padding : 15px 15px 15px 15px;
	margin-top : 4px;
	
	margin-left : 14px;
	font-size: 90%;
	text-align: left;
	clear : both;
	border: 2px solid #fff;
        border-radius: 1px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.2),
        inset 0px 0px 0px 1px rgba(0,0,0,0.2);
}



/* Menu schede 
----------------------------------*/
#section_tabs_header { 
  background-color:#FFF;
  border-radius: 4px 4px;
   
   }


#section_tabs_header li { 
   border-radius: 14px 14px 0px 0px;
   box-shadow: 0px 0px 3px rgba(0,0,0,0.2),
        inset 0px 0px 0px 1px rgba(0,0,0,0.2);
   padding: 10px 5px 5px 5px;
   }





.title 	 {
	background: none; 
	color: #000000;
        font-size: 13px; 
        font-weight: bold; 
   }



/* ================================================================= */
/* "CONSTANTS"                                                       */
/* ================================================================= */

.smaller{
	font-size:0.8em;
}
.hidden {
	display:none;
}

.right { float: right; }

.left { float: left; }


/*|==================================================================|*/
/*|********************** HTML ELEMENTS *****************************|*/
/*|==================================================================|*/



html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,p,blockquote {
	margin:0;
	padding:0;
}

body {
	font-family: verdana, arial, helvetica;
	font-size : 16px;
	
	/*padding: 0 0 2px 0;*/

	background-color : white;
	color: black;
}


img, body, html {
	border:0;
}

a:link, a:visited {
	color: #0000EE;
	text-decoration: none  ;
}

/*
a:link, a:visited {
	color: #5B80B2;
	text-decoration: none;
}*/



table {
	width:100%;
	/*table-layout:auto;*/
}


ol,ul {
	list-style:none;
}



h1 { font-size: 26px; margin: 0px; padding: 0px; color: #000;  }
h2 { font-size: 12px; padding-top: 12px; font-weight: bold; color: #004400 }
h3 { font-weight: bold; color: #003300 }
h4 { font-weight: bold; color: #002200 }


/*
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
*/



/*  HTML FORMS
.............. */

input, textarea, select { 
	font-size : 14px;
	border : 2px groove transparent;
} 

input[readonly], input[disabled], textarea[disabled], textarea[readonly] { 
	background-color : #D3D3D3;
	color : gray;
}


button, img.plusminus:hover {
	cursor : pointer;
}

button[disabled] {
	cursor : default;
	background-color : transparent;
	border : 0;
}


select   { 
	min-width:110px; 
}




select{
	/*width:100%;*/
	max-height:200px;
}



/*
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
*/


/*
caption,th {
	text-align:left;
}
*/


/*
q:before, q:after {
	content:'';
}
*/









/* Added by fero - Gasista Felice */




#page_resource_type { 
    text-transform:capitalize; 
    padding-top : 0;
    margin-top : 0.1em;
    font-size: 12pt;
}
#page_resource { 
    padding-top : 0;
    margin-top : 0.1em; 
}


.user{ background-color:#fff; }


.blockwizardpage{
	width:400px;
	height:250px;
}

.ctx_enabled {
}





#search_input {

	width: 90%;
	margin: 5px;
	border-collapse: separate;
	border: 2px solid black;
        border-radius: 7px 7px 4px 4px;
}

#moroptpanel {
	border-collapse: separate;
	border: 0px;
	margin: 5px;
}


#search_results {

	overflow:auto;
	/*white-space :nowrap;*/

}



#all_history {
	overflow   : auto;
	white-space: nowrap;
}


#ctx_menu_placeholder {
	background-color: white;
	border: 1px #505050 solid;
	padding: 0px;
	width: 150px;
}

#ctx_menu_placeholder li:hover {
	background-color: blue;
}
#ctx_menu_placeholder li:hover a {
	color: white;
}

.user_notifications {
    /*display:none;*/
    float : left;
    padding-right: 1em;
    background: yellow;
    border: 1px solid orange;
}

.dbg{background-color: #FFF /* #D3D3D3 orange*/;}








#moroptpanel {
    text-align:left;
    font-weight : lighter;
    color : blue;
    font-size:1em
}




td input[type="text"] { max-width:70%; }
td input.amount { max-width:3em; text-align : center;}

form p.help, .help {
    font-weight : bold;
    color : green;
}

ul.errorlist { max-width : 400px; }
.aligned label { 
    width : 100%; 
    max-width : 8em; 
}




.panel {
	margin: 0 0.2em;
	/*margin: 10px;*/
        height : 100%;
	min-width  : 220px;
	max-width  : 300px;
}


#resource_panel{
	min-width: 240px;
        float : left;
}


.resource_panel_expand_button_visible {
	/*
	position: relative;
	z-index: 10000;
	*/
}

.resource_panel_expand_button_hidden {
	/*position: relative;
	z-index: 10000;
	display:none;*/
}

#section_tabs {
border:0px;
}



#separator, #right_separator {
	background-color: #eee;
	float:left;
}

 

#separator_button {
}


.block { 
	background: transparent;
        width: 100%;	
	list-style-type:none;
	
	position : relative;
	/* margin : 10px 1px 0 1px; */
	/*margin : 0px 0px 0px 0px;*/
	margin: 10px;
	
	border-right : 1px solid transparent;
	border-left : 1px solid transparent;
	border-bottom : 1px solid transparent;
	border-collapse : collapse;
	min-width : 200px;

}
.block_header {
	background-color : #eeeeee;
	border-bottom : 1px solid #bbb;
	padding-top:5px;
	height : 21px;
	border-collapse : collapse;
        margin-top : -2px;
        margin-bottom : 2px;
}

.block-title {  
	text-align : left;
	font-size: 14px;
	padding : 0;
	margin-left:18px;
	position:absolute;
	border : 0;
}

.block-title a{
	font-weight:lighter;
	font-size:0.8em;
	vertical-align:middle;
}

.block-title span{
	font-weight: bold;
}

/* Icona di identificazione */
.block_icon {
	background: transparent;
	margin : 0px 0 0 0px;
}

/*
.block .block_body#details {
	max-height : 1024px;

}
*/

.block_body {
	display : block;
	width : 100%;
	overflow : auto;
	/*padding-top: 2px;
	padding-bottom: 2px;*/
}


.block .block_body li {
	padding:2px;
        
}

.block_menu_entries li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
}

.header_button {
	cursor : pointer;
	margin : 0pt 0pt 0 0pt;
}

#user_name {
    font-weight: bold;
}


/**************************
 ******** Risorse  ********
 **************************/

.resource { 
	display : list-item;
	
	/*list-style-position : inside;*/
	
	/*background-color : transparent;
	min-height:20px;
	*/
	list-style-type : none;
	list-style-image : none;
	
}

.resource.inline {
	display : inline-block;
	padding-left : 20px;
}




.suspended { 
	text-decoration : line-through !important; 
}

.deleted { 
	background-color : #D3D3D3; 
}



.row.UP {
	 background-color : #ABFFA1;
}
.row.DN {
	background-color : #FFAAAA; 
}
.row.FA {
	background-color : #FFFF90; 
}
.row.UU, .row.UD {
	 background-color : #E0E0E0; 
}

/* TARGETS
............... */

.target_table .odd {
	border-bottom: 1px solid #999999;
}

.target_table td {
	border-right: 1px solid  #999999;
}

.target.UP {
	list-style-image : url('/static/theme/img/resources/target_UP.png');
	/*color : #005E31;*/
}

.target.DN {
	list-style-image : url('/static/theme/img/resources/target_DN.png');
	/*color : red;*/
}
.target.FA {
	list-style-image : url('/static/theme/img/resources/target_FA.png');
	/*color : yellow;*/
}

.target.UU, .target.UD {
	list-style-image : url('/static/theme/img/resources/target_UU.png');
	/*color : gray;*/
}







.ui-dialog-title { color: #2E9E3B; }




/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.module h2, .module caption, .inline-group h2 {
  background: url(images/ui-bg_flat_75_eff7e9_40x100.png) repeat-x scroll left top #7CA0C7;
  color :blue;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 2px 5px 3px;
  text-align: left;
}

#loading-msg {
    background-image: url("/static/nui/img/ajax_is_loading.gif");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    margin:auto; 
    text-align:center;
    font-size: large;
    padding:4em 7em;
    background-color: white;
    position:absolute;
    z-index : 10000;
    border : 2px solid gray;
}

#loading-container {
    z-index : 100000;
    background-color: gray;
    opacity: 0.8;
    position:absolute;
    width:200%;
    height:200%;
    overflow-x:hidden;
    overflow-y:hidden;
}

